# Dependencies
node_modules/

# Build output
/dist

# Local env files
.env.local
.env.*.local

# Log files
*.log

# Caches
.eslintcache
.stylelintcache
*.tsbuildinfo

# Generated database
/src/db/accounts.ts
/src/db/ideas.ts
/src/db/interviews.ts
/src/db/interviewReligions.ts
/src/db/places.ts
/src/db/religions.ts

# generated imprint
src/components/imprint.view.vue

# Generated assets
/public/favicon.ico
/public/icon.svg
/public/android-chrome-192x192.png
/public/android-chrome-512x512.png
/public/apple-touch-icon.png
/public/app.webmanifest
/public/image.webp

# Misc
.DS_Store

# Git
.git

# GitHub
.github

# VS code
.vscode
