node_modules/
/dist
*.log
.eslintcache
*.tsbuildinfo

# local env files
.env.local
.env.*.local

# generated db
src/db/accounts.ts
src/db/ideas.ts
src/db/interviews.ts
src/db/interviewReligions.ts
src/db/places.ts
src/db/religions.ts

# misc
.DS_Store
